@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Add this class if you prefer using Tailwind classes instead of inline styles */
.font-logo {
  font-family: 'Righteous', cursive;
}

body {
  font-family: 'Arial', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}